{% extends 'base.html' %}
{% load cart %}
{% block title %}  {% endblock %}
{% block content %}
<style>
    @import url('https://fonts.googleapis.com/css?family=Muli:400,400i,700,700i');

.shell{
  padding:80px 0;
}
.wsk-cp-product{
  background:#fff;
  padding:15px;
  border-radius:6px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  position:relative;
  margin:20px auto;
}
.wsk-cp-img{
  position:absolute;
  top:5px;
  left:50%;
  transform:translate(-50%);
  -webkit-transform:translate(-50%);
  -ms-transform:translate(-50%);
  -moz-transform:translate(-50%);
  -o-transform:translate(-50%);
  -khtml-transform:translate(-50%);
  width: 100%;
  padding: 15px;
  transition: all 0.2s ease-in-out;
}
.wsk-cp-img img{
  width:100%;
  transition: all 0.2s ease-in-out;
  border-radius:6px;
}
.wsk-cp-product:hover .wsk-cp-img{
  top:-40px;
}
.wsk-cp-product:hover .wsk-cp-img img{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.wsk-cp-text{
  padding-top:150%;
}
.wsk-cp-text .category{
  text-align:center;
  font-size:12px;
  font-weight:bold;
  padding:5px;
  margin-bottom:45px;
  position:relative;
  transition: all 0.2s ease-in-out;
}
.wsk-cp-text .category > *{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  -khtml-transform: translate(-50%,-50%);
    
}
.wsk-cp-text .category > span{
  padding: 12px 30px;
  border: 1px solid #313131;
  background:#212121;
  color:#fff;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  border-radius:27px;
  transition: all 0.05s ease-in-out;
  
}
.wsk-cp-product:hover .wsk-cp-text .category > span{
  border-color:#ddd;
  box-shadow: none;
  padding: 11px 28px;
}
.wsk-cp-product:hover .wsk-cp-text .category{
  margin-top: 0px;
}
.wsk-cp-text .title-product{
  text-align:center;
}
.wsk-cp-text .title-product h3{
  font-size:20px;
  font-weight:bold;
  margin:15px auto;
  overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  width:100%;
}
.wsk-cp-text .description-prod p{
  margin:0;
}
/* Truncate */
.wsk-cp-text .description-prod {
  text-align:center;
  width: 100%;
  height:62px;
  overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  margin-bottom:15px;
}
.card-footer{
  padding: 25px 0 5px;
  border-top: 1px solid #ddd;
}
.card-footer:after, .card-footer:before{
  content:'';
  display:table;
}
.card-footer:after{
  clear:both;
}

.card-footer .wcf-left{
  float:left;
  
}

.card-footer .wcf-right{
  float:right;
}

.price{
  font-size:18px;
  font-weight:bold;
}

a.buy-btn{
  display:block;
  color:#212121;
  text-align:center;
  font-size: 18px;
  width:35px;
  height:35px;
  line-height:35px;
  border-radius:50%;
  border:1px solid #212121;
  transition: all 0.2s ease-in-out;
}
a.buy-btn:hover , a.buy-btn:active, a.buy-btn:focus{
  border-color: #FF9800;
  background: #FF9800;
  color: #fff;
  text-decoration:none;
}
.wsk-btn{
  display:inline-block;
  color:#212121;
  text-align:center;
  font-size: 18px;
  transition: all 0.2s ease-in-out;
  border-color: #FF9800;
  background: #FF9800;
  padding:12px 30px;
  border-radius:27px;
  margin: 0 5px;
}
.wsk-btn:hover, .wsk-btn:focus, .wsk-btn:active{
  text-decoration:none;
  color:#fff;
}  
.red{
  color:#F44336;
  font-size:22px;
  display:inline-block;
  margin: 0 5px;
}
@media screen and (max-width: 991px) {
  .wsk-cp-product{
    margin:40px auto;
  }
  .wsk-cp-product .wsk-cp-img{
  top:-40px;
}
.wsk-cp-product .wsk-cp-img img{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
  .wsk-cp-product .wsk-cp-text .category > span{
  border-color:#ddd;
  box-shadow: none;
  padding: 11px 28px;
}
.wsk-cp-product .wsk-cp-text .category{
  margin-top: 0px;
}
a.buy-btn{
  border-color: #FF9800;
  background: #FF9800;
  color: #fff;
}
}
</style>

<div class="container">
    <div class="row">
        <div class="col-md-16">
          
            <div class="row justify-content-center mb-3">
                <div class="col-md-6">
                    <form action="{% url 'search' %}" method="GET">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control" placeholder="Search products...">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="submit">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            
            {% if products|length == 0 %}
            <div class="alert alert-warning col-12">
                <strong>
                    <h3>No Product Found!</h3>
                </strong>
            </div>
            {% else %}
            <div class="row justify-content-center mb-3">
                {% for product in products %}
                <!-- Each product takes up 6 columns, making it 2 products per row -->
                <div class="col-md-3 ">
                    <div class="wsk-cp-product">
                        <div class="wsk-cp-img">
                            <a href="/?id={{ product.id }}">
                                <img src="{{ product.image.url }}"  alt="Card image cap">
                            </a>
                        </div>
                        <div class="wsk-cp-text">
                            <div class="category">
                                <span>{{ product.category }}</span>
                            </div>
                            <div class="title-product">
                                <h3>{{ product.name|truncatechars:60 }}</h3>
                            </div>
                            <div class="description-prod">
                              <p>{{ product.description|truncatewords:8 }}</p>
                          </div>
                            <div class="card-footer">
                                <div class="wcf-left"><span class="price">INR.{{ product.price }}</span></div>
                                <div class="wcf-right"><a href="/cart" class="buy-btn"><i class="zmdi zmdi-shopping-basket"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                
        {% comment %} <div class="col-md-10">
            <div class="row product-row mx-auto mb-2">
                
                <div id="{{ product.id }}" class="col-md-4 mb-4">
                    <div class="card product-card mb-2">
                        <img class="card-img-top" 
                        <div class="card-body">
                            <p class="card-title">{{ product.name|truncatechars:60 }}</p>
                            <p class="card-text"></p>
                            {% if product.quantity > 0 %}
                                <p class="card-text">{{ product.quantity }}</p>
                            {% else %}
                                <p class="card-text text-danger"><strong>Out of Stock</strong></p>
                            {% endif %}
                            <form action="/#{{ product.id }}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" value="{{ product.id }}" name="product">
                                {% if product|is_in_cart:request.session.cart %}
                                    <a class="btn btn-warning" >Go to cart</a>
                                {% else %}
                                    <input class="btn btn-primary" type="submit" value="Add to cart" {% if product.quantity == 0 %}disabled{% endif %}>
                                {% endif %}
                                <a class="btn btn-success" href="/?id={{ product.id }}">View</a>
                            </form>
                        </div>
                    </div>
                </div> {% endcomment %}
                {% endfor %}
            {% endif %}
            {% comment %} </div>
        </div>
    </div>
</div> {% endcomment %}
{% endblock %}